/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  background: url(../images/cat.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* LAYOUT
/*******************************************/



/* Center the container */
.container {
  width: 960px;
  margin: auto;
}

header {
  /*background: rgba(0,0,0, .5);*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.title {
  color: #fff;
  padding-top: 20px;
  padding-left: 30px;
  font-size: 38px;
  font-weight: bold;
  font-family: Merriweather;
}

.title p {
  font-size: 22px;
  font-weight: normal
}

title p {
  font-size: 22px;
  font-weight: normal
}

.nav {
  color: white;
}

.parent {
  overflow: hidden;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.full_width {
  width: 100%;

}

.h1 {
  font-size: 30px;
  font-family: Merriweather;
  font-weight: 700;
  color: #fdf731;
  float: left;
}

.nav {
  width: 100%;
  color: white;
}

ul {
  padding-right: 20px;
}


li {
  font-size: 20px;
  display: inline-block;
  float: right;
  padding-right: 30px;
}

.bold_li {
  font-family: Oswald;
  font-weight: 700;
}

.light_li {
  font-family: Source Sans Pro;
  font-weight: 400;
}

.clear {
  overflow: auto;
}


a {
  text-decoration: none;
  font-family: Source Sans Pro;
  font-weight: 400;
  color: white;
}

a:hover {
    color: #fdf731;
}

a:active {
  background-color: #c6c6c6;
}

.map {
   background: url(../images/map1.jpg) center center no-repeat;
   background-size: cover;
   position: relative;
   width: 100%;
   height: 500px;
}

.map-catImg {
  width: 75px;
  height: 75px;
}

.map-positionBtm {
    position: absolute; 
      bottom: 10%;
      left: 28%;
}

.map-positionTop {
    position: absolute;
      top: 35px;
      right: 350px;
}

.map-positionMiddle {
  position: absolute;
    top: 5%;
    left: 20%;
}

.pin1Ex {
  border: 1px solid green;
  width: 10%;

}

/* LAYOUT - about page
/*******************************************/



/* Center the container */
.container {
  width: 960px;
  margin: auto;
  padding-top: 5em;
  background: rgba(0,0,0, .5);
}

.container p {
  font-family: Merriweather;
  font-weight: 500;
  font-size: 25px;
  text-align: left;
  padding-top: 30px;
  margin-top: 0px;
  color: white;
}

.profile_box {
  display:none;
  position:absolute;
  width: 35%;
  height: 50%;
  background-color: white;
  margin: 0% auto;
  

}

h3  {
  font-size: 25px;
  font-family: Source Sans Pro;
  font-weight: 700;
  color: black;
  padding-left: 5%;
  text-align: left;
  
}

.about_p {
  width: 70%;
  font-size: 20px;
  font-family: Source Sans Pro;
  font-weight: 400;
  color: black;
  line-height: 20px;
  padding: 3.25%;

}

.hide {
  display: none;
}
